---
import { BRAND } from "../../branding";
import { getCollection } from 'astro:content';
import Layout from "../../layouts/MainLayout.astro";
import TopicList from "../../components/TopicList.astro";

export async function getStaticPaths() {
    const posts = await getCollection('posts');

    return posts.map((post) => ({
        params: { slug: post.slug, }, props: { post, },
    }));
}

const { post } = Astro.props;
const title = BRAND + " - " + post.slug;
const { Content } = await post.render();
---

<Layout title={title}>
    <div class="post-head">
        <div class="post-title">{post.data.title}</div>  
        <div class="post-date">
            {new Date(post.data.date).toISOString().split("T")[0]}
        </div>
    </div>
    <TopicList Topics={post.data.topics} />
    <article>
        <Content />
    </article>
</Layout>
