---
import Layout from "../layouts/MainLayout.astro";
import { BRAND } from "../branding";

const title = BRAND + " - About";
---

<Layout title={title}>
    <p>TODO: [About-Content-Here]</p>
</Layout>
